<div class="confirmation-container">
  <h1>Success! 🚀</h1>
  <br>
  <p>Thank you, NAME</p>
  <br>
  <p>Your TOTAL order is confrimed!</p>
  <table>
    <tr>
      <th>Product</th>
      <th>Amount</th>
      <th>Price per unit</th>
      <th>Price total</th>
    </tr>
    <tr>
      <td>Book</td>
      <td>2</td>
      <td>9.99</td>
      <td>19.98</td>
    </tr>
    <tr>
      <td>Backpack</td>
      <td>1</td>
      <td>79.99</td>
      <td>79.99</td>
    </tr>
  </table>
  <br>
  <p>Please allow 1-3 business day(s) for shopping.</p>
  <br>
  
  <button class="btn btn-danger">Back to Product list</button>
</div>